.cf:before,.cf:after {
  content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
  clear: both;
}


*, *:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.fl{
  float:left;
}

.fr{
  float: right; 
}

.cl{
  clear:left;
}

.cr{
  clear: right;
}

.cb{
  clear: both;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}


/*reset*/

input{
  -moz-appearance:none;
   -webkit-appearance:none;
   padding: 0;
   margin: 0;
   border: none;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*THE END reset*/
.no-js .loading {
display: none !important; /* 2 */
}


.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: 9998;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.all-wrap{
  height:0;
  overflow: hidden;
}


.loading-out {
opacity: 0;
visibility: hidden;
-webkit-transform: scale(10);
-moz-transform: scale(10);
-ms-transform: scale(10);
-o-transform: scale(10);
transform: scale(10); /* 2 */
}

.loading-out + .all-wrap, .no-js .all-wrap{
  height: auto;
}

/*.loading-out #loading{
  display: none;
}
*/
.loading h1 {
font-size: 1.9em;
font-weight: bold;
color: #3re;
text-shadow: 0 0 2px #ddd; /* 2 */
}
.loading:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
background: #fff; /* 2 */
}
.site-title-loading {
display: inline-block;
vertical-align: middle;
padding: 10px 15px; /* 2 */
}
#loading {
width: 200px;
height: 100px;
margin: 100px auto; /* 2 */
}
#loading p {
height: 80px;
width: 6px;
border-radius: 3px;
background: #ccc;
display: inline-block;
-webkit-animation: loader 1.3s infinite;
-moz-animation: loader 1.3s infinite;
-ms-animation: loader 1.3s infinite;
-o-animation: loader 1.3s infinite;
animation: loader 1.3s infinite; /* 2 */
}
@keyframes "loader" { /* 2 */
50% {
height: 6px;
margin-top: 74px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
filter: alpha(opacity=10);
opacity: .1; /* 2 */
}}
@-moz-keyframes loader { /* 2 */
50% {
height: 6px;
margin-top: 74px;
filter: alpha(opacity=10);
opacity: .1; /* 2 */
}}
@-webkit-keyframes "loader" { /* 2 */
50% {
height: 6px;
margin-top: 74px;
filter: alpha(opacity=10);
opacity: .1; /* 2 */
}}
@-ms-keyframes "loader" { /* 2 */
50% {
height: 6px;
margin-top: 74px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
filter: alpha(opacity=10);
opacity: .1; /* 2 */
}}
@-o-keyframes "loader" { /* 2 */
50% {
height: 6px;
margin-top: 74px;
filter: alpha(opacity=10);
opacity: .1; /* 2 */
}}
#loading p:nth-child(1) {
-webkit-animation-delay: .1s;
-moz-animation-delay: .1s;
-ms-animation-delay: .1s;
-o-animation-delay: .1s;
animation-delay: .1s; /* 2 */
}
#loading p:nth-child(2) {
-webkit-animation-delay: .2s;
-moz-animation-delay: .2s;
-ms-animation-delay: .2s;
-o-animation-delay: .2s;
animation-delay: .2s; /* 2 */
}
#loading p:nth-child(3) {
-webkit-animation-delay: .3s;
-moz-animation-delay: .3s;
-ms-animation-delay: .3s;
-o-animation-delay: .3s;
animation-delay: .3s; /* 2 */
}
#loading p:nth-child(4) {
-webkit-animation-delay: .4s;
-moz-animation-delay: .4s;
-ms-animation-delay: .4s;
-o-animation-delay: .4s;
animation-delay: .4s; /* 2 */
}
#loading p:nth-child(5) {
-webkit-animation-delay: .5s;
-moz-animation-delay: .5s;
-ms-animation-delay: .5s;
-o-animation-delay: .5s;
animation-delay: .5s; /* 2 */
}
#loading p:nth-child(6) {
-webkit-animation-delay: .6s;
-moz-animation-delay: .6s;
-ms-animation-delay: .6s;
-o-animation-delay: .6s;
animation-delay: .6s; /* 2 */
}
#loading p:nth-child(7) {
-webkit-animation-delay: .7s;
-moz-animation-delay: .7s;
-ms-animation-delay: .7s;
-o-animation-delay: .7s;
animation-delay: .7s; /* 2 */
}
#loading p:nth-child(8) {
-webkit-animation-delay: .8s;
-moz-animation-delay: .8s;
-ms-animation-delay: .8s;
-o-animation-delay: .8s;
animation-delay: .8s; /* 2 */
}
#loading p:nth-child(9) {
-webkit-animation-delay: .9s;
-moz-animation-delay: .9s;
-ms-animation-delay: .9s;
-o-animation-delay: .9s;
animation-delay: .9s; /* 2 */
}
#loading p:nth-child(10) {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
-ms-animation-delay: 1s;
-o-animation-delay: 1s;
animation-delay: 1s; /* 2 */
}