@media only screen and (max-width:1245px){
	body{
		width: 90%;
	}

	.grid ..products-item-outer{
		padding-left: 20px;
	}

	.grid .products-item-wrap-outer{
		margin-left: -20px;
	}

	.grid .buy-zone-buttons .mybutton{
		width: 100%;
		text-align: center;
	}

	.main-cat{
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 9999;
		display: none;

	}

	.main-cat ul{
		display: none;
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		-ms-transition: all 0s;
		-o-transition: all 0s;
		transition: all 0s;
	}

	.main-cat .item{
		float: none;
		display: block;
		width: 100%;
		z-index: 9999;
		border: none;
		border-top: 1px solid #787777;
	}

	.main-cat li{
		font-size: 11px;

		background-color: #000;
	}

	.main-cat .item:hover{
		border-top-color: #787777;
	}

	.main-cat >a:hover, .main-cat li.active > a{
		color: #fff;
	}


	.main-cat a{
		display: block;
		width: 100%;
	}

	.item.sub-parent:after{
		display: none;
	}

	.item ul{	
		position: static;
		opacity: 1;
	    top: 0;
	    visibility: visible;
	    background-color: #000;
	}

	.main-cat a{
		color: #787777;
	}

	.main-cat .item:hover, 	.main-cat .item:active,	.main-cat .item:focus   {
		z-index: 9999;
		background-color: #000;
	}

	.mobile-nav{
		width: 100%;
		display: block;
		height: ;
	}

	.main-cat >li >ul{
		padding:0 10px;
	}

	.main-cat li ul >li >ul{
		padding:0 20px;
	}

	.subsub-parent:after{
		display: none;
	}

	.main-categorires-wrap .drop-open{
		display: table;
		padding-right: 10px;
	}

	.main-categorires-wrap{
		clear: both;
	}

	.site-name{
		width: 30%;
	}

	.searchbox .input-border{
		width: 300px;
	}

	.banner .caption{
		font-size: 12px;
	}
}

@media only screen and (max-width: 1100px){
	.mp-product-image{
		display: block;
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width: 1100px){
	.main-foot .box{
		width: 50%;
	}
}

@media only screen and (max-width:1000px){
	.grid .products-item-outer{
		width: 50%;
	}

	.grid .buy-zone-buttons .mybutton{
		width:auto;
		text-align: center;
	}

}

@media only screen and (max-width:900px){


	.grid .buy-zone-buttons .mybutton{
		width: 100%;
		text-align: center;
	}

	.list .products-info-zone{
		width: 70%;
	}

	.list .buy-zone{
		width: 30%;
	}

	.banner .caption{
		font-size: 10px;
	}

	.banners{
		margin-top: 10px;
	}
}


@media only screen and (max-width:900px){

	.mp-product-image{
		float: left;
	}

	.mp-product-description{
		padding: 20px 0;
	}

	.main-page-article-outer{
		width: 100%;
		float: none;
		border:1px solid #ccc;
		margin-bottom: 20px;
	}

	.ml-wrapper{
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		z-index: 9999;
		padding: 0 0;
	}

	.top-menu:before{
		display: block;
	}

	.top-menu-items{
		display: none;
	}

	.top-menu, .login-form, .cart-outer{
		float:left;	
		width: 33.33%;
		border: none;
		border-right: 1px solid #444444;
		text-align: center;
		color: #fff;
		padding: 15px 8px;
		height: 50px;
	}

	.top-menu, .login-form{
		font-size: 22px;
	}

	.mini-cart{
		top:33px;
		right: -8px;
	}

	.site-header{
		margin-top: 50px;
		padding-bottom: 0;
	}

	.site-name{
		float: none;
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	.searchbox{
		float: none;
		width:100%;
		margin-bottom: 10px;
	}

	.searchbox .input-border {
    width: 100%;
    margin-right: -40px;
    border: 1px solid #C9C8C8 ;
	}

	.banner .caption{
		font-size: 10px;
	}

}

@media only screen and (max-width:800px){

	.products .products-item-wrap-outer .products-item-outer{
		width: 100% !important;
		float: none !important;
	}

	.products-info-zone{
		float: left !important;
	}

	.products-item-desc-text{
		display: block !important;
	}

	.main-foot .box{
		width: 100%;
		float: none;
	}

	.main-foot .drop{
		display: none;
	}

	.main-foot .drop-open{
		display: table;
	}

	.banners{
		margin-top: 10px;
	}

	.banner .caption{
		font-size: 8px;
	}

	.banner .caption span, .ban-read-more{
		display: none;
	}
}

@media only screen and (max-width:600px){
	.banners{
		display: none;
	}

	.basket-text{
		display: none;
	}

	.slider{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width:450px){
		.mp-product-image{
		float: none;
	}
}

@media only screen and (max-width:450px){
		.cart-count-text{
			display: none;
		}
	}
}