 /*slider*/

 .rs-wrap:after,
.rs-slider:after,
.rs-thumb-wrap:after,
.rs-arrows:after,
.rs-caption:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

/* ===[ Slider ]=== */

.rs-wrap {
    position: relative;
    max-width: 100%;
}

.rs-slide-bg { *zoom: 1 }

.rs-slider > li > a { display: block }

.rs-slider > li {
    list-style: none;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    margin: 0 -100% 0 0;
    padding: 0;
    float: left;
    position: relative;
}

    .rs-slider > li > a {
        padding: 0;
        background: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .rs-slider > li img {
        display: block;
        max-width: 100%;
        max-height:400px;
        margin:0 auto;
        width:100%;
        -ms-interpolation-mode: bicubic;
    }

/* ===[ Thumbnails ]=== */

.rs-slider{
    padding:0;    
}

.rs-thumb-wrap { *zoom: 1 }

    .rs-thumb-wrap > a {
        display: block;
        float: left;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-backface-visibility: hidden; /* Hardware accelerate to prevent jumps on transition */
    }

        .rs-thumb-wrap > a > img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            -ms-interpolation-mode: bicubic;
        }

.rs-thumb-wrap > a:first-child { margin-left: 0!important }

/* ===[ Arrows ]=== */

.rs-arrows .rs-next,
.rs-arrows .rs-prev { 
    background:rgba(225, 225, 225, 0.61);
    display: block;
    margin-top: -30px;
    position: absolute;
    top: 51%;
    padding:12px;
    text-align: center;
    z-index: 2;
    font-size: 2.3em;
    color: #fff;
 }

.rs-arrows .rs-next{
  right:0 !important;
}
.rs-arrows .rs-prev{
  left:0 !important;
}

.rs-arrows .rs-next:hover,
.rs-arrows .rs-prev:hover{
    background-color: rgba(112, 112, 112, 0.67);
} 

.rs-arrows:hover .rs-next,
.rs-arrows:hover .rs-prev { z-index: 2; }

/* ===[ Captions ]=== */

.rs-caption {
    position: absolute;
    max-height: 100%;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}

.rs-caption.rs-top-left {
    top: 0;
    bottom: auto;
}

.rs-caption.rs-top-right {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.rs-caption.rs-bottom-left {
    bottom: 0;
    left: 0;
}

.rs-caption.rs-bottom-right {
    right: 0;
    left: auto;
    border-bottom: none;
    border-right: none;
}

.rs-caption.rs-top {
    top: 0;
    bottom: auto;
    width: 100%!important;
}

.rs-caption.rs-bottom { width: 100%!important }

.rs-caption.rs-left {
    top: 0;
    height: 100%;
}

.rs-caption.rs-right {
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
}

/* ===[ Grid ]=== */

.rs-grid {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
}

.rs-gridlet {
    position: absolute;
    opacity: 1;
}

/* Optional - remove captions at smaller screen widths
@media screen and (max-width: 480px) {
    .rs-caption { opacity: 0!important; }
}
*/

/*
    THE END slider
*/

/*
    zoom
*/

#wrap{
    display: table;
    margin: 0 auto;
    overflow: hidden;
}

#zoomik .cloud-zoom-big{
    box-shadow: 0 0 3px 3px #333;
  border:3px solid #ddd;
}

.cloud-zoom-lens {
    border: 4px solid #888;
    background-color:#fff;  
    cursor:move;        
}
.cloud-zoom-title {
    font-family:Arial, Helvetica, sans-serif;
    position:absolute !important;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;  
    font-weight:bold;
    font-size:10px;
  bottom:0px;
}

/*
    THE END zoom
*/

/*
    carousel
*/


#carousel li{
    float: left;
    margin: 0px;
}


#carousel a{
    display: block;
    padding: 1px;
    margin: 0px;
}

#carousel img{
    padding: 4px;
    border: 1px solid #C9C8C8;
    display: block;
}

#carousel a:hover img{
    border-color: #000;
}

.nbs-flexisel-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 9999px;
}

.nbs-flexisel-inner {
    float: left;
    overflow: hidden;
    width: 100%;
    position: relative;
    
}

.nbs-flexisel-nav-left, 
.nbs-flexisel-nav-right{
    position: absolute;
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.zoom:hover .nbs-flexisel-nav-left, .zoom:hover .nbs-flexisel-nav-right{
    opacity: 1;
}

.nbs-flexisel-nav-left{
    left: 1px;
}

.nbs-flexisel-nav-right{
    right: 1px;
}

.nbs-flexisel-nav-left:before, .nbs-flexisel-nav-right:before{
    font-family: 'icomoon';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
     padding: 4px;
    background: rgba(45,45,45, 0.4);
    text-align: center;
     -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff;
    font-size: 30px;
    
}

.nbs-flexisel-nav-right:before{
    content:'\62';
    right:0;
}

.nbs-flexisel-nav-left:before{
    content:'\61';
    left:0;
}


/*
    THE END carousel
*/