/* globals for this theme */

:root{
    font-size: 100%;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

body{
    font-size: 100%;
    font-family:  "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #a3a3a3;
}

a, a:visited, a:active, a:link, a:focus {
    color: #333333;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
}

a.item-link{
    font-size: 0.81em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    display: block;
}

a.item-link:hover{
    color: #A9A9A9;
}

img{
    height: auto;
    max-width: 100%;
}

li{
    list-style-type: none;
}

.bb{
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

 .bbdsh{
    border-bottom: 1px dashed #E2E2E2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.item-bb{
    border-width: 1px 1px 2px;
    border-color: #000;
    border-style: solid;
    color: #000000;
    display: block;
    font-size: 0.94em;
    padding: 15px 40px 15px 15px ;
    margin: 20px auto 30px;
    text-transform: uppercase;

}

.social-icons-bb{
    padding-bottom:30px;
}

.mybutton{
    height:46px;
    border:1px solid #C9C8C8;
    float:left;
}

.buttons{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9C8C8;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 14px 17px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

.buttons:hover, .buttons:active, .buttons:focus{
    background: none;
    border: 1px solid #000000;
    text-decoration: none;
}

.new-price{
    font-weight: bold;
    color: #000;
    font-size: 1.38em;
    line-height: 1.38em;
    font-style: italic;
}

.old-price{
    text-decoration: line-through;
    font-style: italic;
    color: #c7c7c7;
    font-size: 1.25em;
    margin-left: 0.3em;
    line-height: 1.38em;
}


.editor{
    font-size: 0.81em;
    color: #a3a3a3;
    line-height: 1.6;
}

.editor ul{
    padding-left: 12px;
}

.editor li{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.editor li:hover:before{
    color: #ddd;
}

.editor ul li:before{
    content:"\66";
     font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0 3px;
    color: #000;
}

.editor strong{
    font-weight: bold;
    color: #000;
}

.note{
    font-weight: bold;
    color: #000;
    font-style: italic;
}

.editor em{
    font-style: italic;
    color: #888787;
}

/*THE END of globals for this theme*/


/*theme styles*/

body{
    width:100%;
    max-width: 1200px;
    margin: 0 auto !important;
}

.site-header{
    width:100%;
    padding-bottom: 30px;
}

/* site-name */


.site-name{
    padding-top:37px;
    padding-bottom: 10px;
    width: 50%;
}

.site-name a{
    display: block;
    text-transform: uppercase;
    font-size: 1.88em;
    color: #000;
}

/* THE END site-name */


/* top-menu and login */

.ml-wrapper{
    background: #000;
    padding: 15px;
}

.top-menu, .login-form{
    display: inline-block;
    vertical-align: middle;
}

.top-menu{
    padding: 0 0  10px 60px;
    
}

.top-menu:before{
    display: none;
}

.top-menu-items{
    border-right: 1px solid #383838;
    padding: 5px;
}

.login-form{
    padding: 7px 15px 15px 0;
}

.top-menu-items a{
    font-size: 0.94em;
    font-weight: bold;
    color: #787777;
    text-transform: uppercase;
    margin-right: 1em;
}

.top-menu-items a:hover,
.top-menu-items a:active,
.top-menu-items a:focus, 
.top-menu-items a.active, .login-open:hover, .login-open:active, .login-open:focus{
    color: #fff;
}

.login-open{
   color: #fff;
}

/* THE END top-menu and login */


/* cart */

.cart-outer{
    border-top: 1px solid #383838;
    padding: 15px 0 0;
}

.cart{
    white-space: nowrap;
}

.cart-inner{
    cursor: pointer;
}

.basket{
    color: #fff;
    font-size: 0.94em;
    text-transform: uppercase;
    font-weight: bold;

}

.basket:before{
    content:"\22";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #939393;
    font-size: 1.5em;
    margin-right: 0.94em;
}

.cart_items_count{
    font-size: 1.05em;
    color:#979595;
}

.cart_items_count:after{
    content:"\f107";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font-size: 1.5em;
    margin-left: 0.94em;
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.cart_items_count_white:after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cart_items_count_white{
    color: #fff;
}

.cart-outer:hover .cart_items_count{
    color:#fff;
}

.mini-cart{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000000;
    display: none;
    right: -15px;
    top: 40px;
    width: 300px;
    z-index: 8001;
     padding: 0px 14px;
}

.mini-cart-item{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 20px;
}

.mini-cart-image{
    width: 70px;
}

.remove_item{
    width: 10px;
    height: 10px;
    display: block;
    cursor: pointer;
    color: #000;
    font-size: 1.3em;
}

.remove_item:hover:before{
    color: #A9A9A9;
}

.remove_item a{
    display: block;
    width: 100%;
}

.parse_item_title{
    color: #000;
    font-size: 0.81em;
    font-weight: bold;
    text-transform: uppercase;
}

.mini-cart-info .price{
    padding: 15px 5px;
    font-size:1.13em ;
    color: #7A7A7A;
}

.parse_item_title a:hover{
    color: #A9A9A9;
}

.mci-items-count, .mci-buy{
    border-top: 1px solid #ddd ;
}

.mci-footer p, .mci-buy{
    padding: 10px 0;
}

/* THE END cart */


/* category menu */

.main-categorires-wrap{
    margin-bottom: 30px;
    z-index: 3;
    z-index: 8000;
}

.main-categorires-wrap:after{
    content:"";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    position: relative;
    bottom: -5px;
}

.main-cat{
    border-bottom: 1px solid #000;
    position: relative;
    z-index: 3;
    font-weight: normal;
}

.main-cat .item{
    z-index: 1;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 0 !important;
    border-bottom-image: none;
}

.main-cat .item  > a{
    display: block;
    height: 100%;height: 55px;
    font-size:1.38em;
    font-weight: normal;
    padding: 20px 20px;
    
}

.item.active{
     z-index: 2;
     border-color: #000;
     border-bottom-color: #fff;

}

.item:hover{
    z-index: 2;
}


.item.active a{
    border-color: #000;
    border-bottom-color: #fff;
   
}

.sub-parent.active:after{
    background-color: #000;
}

.item a.hassub{
    padding-right: 60px;
}

.main-cat .item:hover{
    border-color:#000; 
    /*z-index: 2;*/
}

.sub-parent:after{
    content:"\f107";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin-left: 0.94em;
    vertical-align: middle;
    position: absolute;
    top: 12px;
    right: 12px;
    background: #E5E5E5;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ccc;
}

.sub-parent:hover > ul, .subsub-parent:hover  >ul{
    top:100%;
    opacity: 1;
    visibility: visible;
}

.item   ul{
    position: absolute;
    top:200%;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.item ul ul{
    left:100%;
    bottom:100%;
    top:0;
}

.item ul li:hover>ul{
    top:0;
    opacity: 1;
    visibility: visible;
}

.item ul li{
    position: relative;
}

.item ul li a{
    background-color: #000;
    padding: 10px 20px;
    position: relative;
    display: block;
    text-transform: capitalize;
    color: #777777;
    font-size: 0.90em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 1em;
}

.item ul li > a:hover{
    color: #fff;
}

.item ul li.subsub-parent:after{
        -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    content:"\66";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    color: #999999;
    font-size: 1.5em;
    margin-left: 0.94em;
    vertical-align: middle;
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.item ul li:hover > .hassub, .item ul li:hover.subsub-parent:after{
    color: #fff;
}

.sub-parent:hover:after,.sub-parent:active:after,.sub-parent:focus:after{
    background-color: #808080;
    color: #fff;
} 

.drop-open{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #000;
    font-weight: normal;
    height:55px;
    width:55px;
    font-size: 1.3em;
    cursor: pointer;
    display: none;
 }

.drop-open, .mobile-nav{
    display: none;
    height: 55px;
    width: 100%;
}

.drop-open-sub{
    height: 55px !important;
    color: #fff;
    width: 50px;
}

.drop-open-box{
    height: 20px !important;
}

.subsub-parent .drop-open-sub{
    height:20px !important;
}

.mobile-nav{
    font-weight: bold;
    font-size: 1.44em;
    color: #000;
    text-transform: capitalize;
}



 .drop-open:before{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
 }

/* THE END category menu */


/* searchbox */

.searchbox{
    right:0;
    z-index: 4;
    position: relative;
}

.searchbox:hover{
    border-color:#C9C8C8;
}

.searchbox:focus{
    background-color: transparent;
}

.input-border{
    border:none;
    background: none;
    border-width:1px;
    border-style: solid;
    height: 56px;
    width:170px;
    float: left;
    border-color: #C9C8C8 transparent transparent #C9C8C8;
    overflow: hidden;
}

.searchbox input[type=search] {
   -moz-appearance:none;
   -webkit-appearance:none;
   width:100%;
   height: 58px;
   border: none;
   background:#FBFBFB;
   display: block;
   padding: 0 0 0 5px;
   vertical-align: middle;
}

.searchbox input[type=search]:focus {
    outline:none;   
    border:none;
    background-color: #fff;
}

.searchbox input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.submit-button{
    width:40px;
    padding: 19px 0;
    text-align: center;
    border-top:1px solid #C9C8C8;
    border-left:1px solid #C9C8C8;
    border-right:1px solid #C9C8C8;
}

.submit-button:hover{
    border: 1px solid #000;
    border-bottom: none;
}

/* THE END searchbox */


/* slider */

.slider{
    background: none repeat scroll 0 0 #000000;
    overflow: hidden;
    padding: 10px;
}

/* THE END slider */


/* banner */

.banners{
    width:100%;
    background-color: #000;
    padding: 5px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.banner-outer{
    width:33.33%;
    padding: 5px;
    float:left;
    height: 100%;
}

.banner-url-container{
    display: block;
    position: relative;
    overflow: hidden;
}

.banner{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner img{
    display: block;
    width: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.banner:hover img{
    
}

.banner .caption{
    top: 0%;
    left:0%;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    width:80%;
    height: 100%;
    padding: 1.2em 0 0 1.2em;
}



.banner .caption p{
    font-size: 1.7em;
    text-transform: uppercase;
    text-shadow: 0 0 3px #ddd;
    font-weight: bold;
    color: #000;
}


.banner .caption span{
    font-size: 1em;
    color: #878787;
    text-align:center;
}

.banner:hover .caption{
    -webkit-transform: translateX(3%)  rotate(-15deg) scale(1.6);
    -moz-transform: translateX(3%) rotate(-15deg) scale(1.6);
    -ms-transform: translateX(3%) rotate(-15deg) scale(1.6);
    -o-transform: translateX(3%) rotate(-15deg) scale(1.6);
    transform: translateX(3%) rotate(-15deg) scale(1.6);
    color:#ddd;
    text-shadow: 0 0 5px #fff;
}

.banner:hover .ban-read-more{
    font-size: 40px;
    background-color: rgba(0,0,0, 0.8);
    opacity: 1;
    text-align:center;
    visibility: visible;
}

.ban-read-more{
    right:0;
    top:0;
    font-size: 150px;
    width:100%;
    text-shadow: 0 0 7px #37E400;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff;
    display: block;
    height: 100%;
    text-align:center;
    background-color: rgba(0,0,0, 0);
    padding: 12% 0;
}

/* THE END banner */

/* main-page-products */

.main-page-products-wrapper{
    margin-bottom: 30px;
}

.part-title-wrap{
    border-bottom: 1px solid #000;
    z-index: 1;
    margin-bottom: 30px;
}

.part-title-wrap:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.part-title{
    color: #000;
    border: 1px solid #000;
    border-bottom-color: #fff;
    padding: 15px 20px;
    z-index: 2;
    margin-bottom: -1px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.main-page-article-outer{
    width: 33.33%;
    padding: 7px;
    padding-bottom: 20px;
}

.main-page-product{
    width: 100%;
    height: 100%;
}

.mp-product-image{
    margin-right: 10px;
}

.mp-product-title{
    padding: 10px 0;
}

.mp-product-description{
    font-style: italic;
    font-size: 0.81em;
    line-height: 1.13em;
}

.mp-product-price{
    padding: 10px 0;
}

.mp-product-buy .buttons{
    font-size: 1.5em;
    color: #CECECE;
    width: 2.08em;
    height:2.08em;
    padding: 0;
    text-align: center;
    margin-right: -1px;
    z-index: 2;
    float: left;
    position: relative;
    overflow: hidden;
}

.mp-product-buy .buttons:before{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    top:10px;
    left:0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.mp-product-buy .buttons:hover:before{
    top:-150%;
}

.mp-product-buy .buttons:after{
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    bottom:-50px;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
     -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #000;
}

.mp-product-buy .buttons:hover:after{
    bottom: -11px;
}


.mp-product-buy .info:before, .mp-product-buy .info:after{
    padding-top: 3px;
}

.mp-product-buy .buttons:hover{
    z-index: 3;
    border: 1px solid #020202;
}

/* THE END main-page-products */



/* footer */

.main-foot{
    padding: 30px 0 20px;
    border-top: 5px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.copyright{
    margin-bottom: 40px;
    color: #7F7F7F;
    font-size: 0.94em;
}

.copy-url{
    color: #000;
}

.copy-url:hover{
    color: #A9A9A9;
}

.main-foot .box{
    width: 25%;
    padding-left: 30px;
    margin-bottom: 30px;
}

/* THE END footer */




/* box */

.box-centering{
    overflow: hidden;
    margin-left: -30px;
}

.box-title{
    color: #000;
    font-size: 0.94em;
    padding-bottom: 16px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.links a{
    font-size: 0.94em;
    text-transform: capitalize;
    color: #7A7A7A;
    display: block;
    word-wrap: break-word;
    line-height: 1.33em;
}

.links a:hover{
    color: #000;
}

/* THE END box */


/* content-wrapper */

.content-wrapper{
    margin-bottom: 30px;
}

.breadcrumb{
    padding: 11px;
    border: 1px solid #C8C7C7;
    margin: -10px auto 30px;
}

.breadcrumb a:first-child{
    font-size: 1.3em;
}

.breadcrumb a, .breadcrumb span{
    text-transform: capitalize;
    font-size: 0.91em;
    margin-right: 0.31em;
}

.breadcrumb a:hover{
    color: #A9A9A9;
}

/* THE END content wrapper */

/* main-content */

.main-content{
    width: 75%;
    padding: 0 50px 0 0;
}

.item-product-image-outer{
    width: 40%;
    padding-right: 25px;
    min-width: 250px
}

.item-product-image{
    border:1px solid #C9C8C8;
    margin-bottom: 20px;
}

.item-product-image:hover{
    border-color: #000;
}

.item-product-info{
    width: 60%;
}

.item-title{
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 0.81em;
}


.count-in-stock{
    padding-top: 10px;
    color: #00CC00;
    display: block;
}

.buy_button{
    position: relative;
}

.minus, .plus{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    cursor: pointer;
    opacity: 0.7;
    background-color: #fff;
}

.minus:hover, .plus:hover{
    color: #333;
    opacity: 1;
    background-color: #cee;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.arrows{
    border-right: none;
    margin-right: -1px;
    padding-top:14px;
    overflow: hidden;
}

.arrows:hover{
    border:1px solid #C9C8C8;
    border-right: none;
}

.quantity_input{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    text-align: center;
}

.plus:before, .minus:before{
    font-size: 17px;
}

.plus{
    top:-4px;
    left: 0;
    border-bottom: 1px solid #C9C8C8;
    height: 19px;
}

.minus{
    bottom:-5px;
    left: 0;
    border-top: 1px solid #C9C8C8;
    height: 19px;
}

.minus:before{
    position: relative;
    top: -2px;
}

.item-price span{
    padding-top:10px;
}

.item-price .old-price{
    font-size: 1.38em;
}

.read-reviews{
    margin-right: 10px;
}

.write-review, .read-reviews{
    color: #333;
}

.write-review:hover, .read-reviews:hover{
    color: #A9A9A9;
}

.write-review{
    cursor: pointer;
}

.write-review:before, .read-reviews:before{
    font-size: 1.3em;
    margin-right: 5px;
}

.item-rotate-image{
    display: block;
}

.item-rotate-title{
    font-weight: bold;
    font-size: 0.81em;
    text-transform: uppercase;
    line-height: 1.13em;
    color: #000;
}

.item-rotate-title:hover{
    color: #a9a9a9;
}

.property-name, .property-value{
    font-size: 1.23em;
}

.featured-products article:last-child{
    border: none;
}

.featured-products img{
    width: 100%;
    max-width: 100px;
    margin-right: 15px;
}

.featured-products article h1{
    padding: 10px 0 10px;
}

.featured-products .item-link{
    display: inline-block;
    font-size: 0.94em;
}

.featured-products .info-wrap{
    overflow: hidden;
    padding-right: 20px;
    border-right: 1px solid #E2E2E2;
    width: 80%;
}

.featured-products .new-price{
    display: block;
    margin-bottom: 15px;
}

.feat-buy-zone{
    width: 20%;
    padding-left: 20px;
}

.review-item{
    border-bottom-style: dotted;
}

.review-item:last-child{
    border: none;
}

.review-author{
    display: block;
    font-size: 1.4em;
}


.review-author:before, .review-date:before{
    font-style: normal !important;
    margin-right: 5px;
}

.date-author-wrap{
    width: 15%;
    padding-right: 10px;
}

.stars-text-wrap{
    width: 85%;
    padding-left: 10px;
}

.see-also-item-outer{
    width: 33.33%;
    padding-right: 30px;
}

.see-also-item-image{
    display: block;
    width: 100%;
    margin:0 auto;
    text-align: center;
}

.see-also-description, .see-also-price .avialable{
    display: none;
}

.see-also-item-title{
    padding: 10px 0;
}

.see-also-item-title a.item-link{
    font-size: 0.91em;
}

.see-also-buy-zone{
    margin: 10px 0 5px;
}

.see-also-buy-zone .mybutton{
    margin-right: 10px;
}

/*THE END main content*/

/* sidebar */

.sidebar{
    width: 25%;
    position: relative;
}


.sidebar-box, .page{
    margin-bottom: 20px;
}

.sidebar-box-item:last-child{
    border-bottom: none;
}

.sidebar-box-title, .page-title{
    font-size:1.06em;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 10px 0 ;
    border-bottom: 3px solid #000;
    margin-bottom: 10px;
}

.sidebar-box-item-title{
    padding: 10px 0;
}

.sidebar-box-item>a{
    display: block; 
}

.sidebar-box-item-image{
    width: 100%;
    max-width: 90px;
}

.hits .sidebar-box-item-more{
    display: none;
}

.sidebar-box-item-more{
    display: block;
    font-style: italic;
    font-weight: bold;
    font-size: 0.81em;
    padding: 7px 0;

}

.sidebar-box-item-more:after{
    color: inherit;
    content: "\4f \4f";
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 0.74em;
    text-transform: none;
    vertical-align: middle;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    right: 0;
}

.sidebar-box-item-more:hover{
    color: #a9a9a9;
}

.sidebar-box-item-more:hover:after{
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    right: -6px;
}

.sidebar-box-links-item{
    display: block;
    border-bottom: 1px solid #C9C8C8;
    padding: 0.77em 0;
    color: #333;
    font-size: 0.81em;
    margin-left: 5px;
    line-height: 1.25em;
    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.sidebar-box-links-item:hover{
    color: #000;
}


.sidebar-box-links-item:hover:before{
    margin-right: 15px;
    color: #ddd;
}

.sidebar-box-links-item:before{
    margin-right: 0.38em;
    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

/* THE END sidebar*/


/*category page*/

.cat-desc-item p{
    font-style: italic;
    color: #333;
}

.cat-desc-item img{
    margin-right: 10px;
}

.cat-items-count{
    font-style: italic;
    font-size: 0.65em;
    line-height: 2.64em;
}

.sub-cat-item-outer{
    width: 20%;
    padding-right: 20px;
    margin-bottom: 20px;
}

.sub-cat-title{
    text-transform: uppercase;
}

.sub-cat-item-title{
    color: #a9a9a9;
    font-size: 0.81em;
}

.sub-cat-item-title:before{
    margin-right: 5px;
}

.sub-cat-item:hover .sub-cat-item-title{
    color: #000;
}

.products-item-wrap-outer{
    margin-left: -40px;
    
}

.products-item-outer{
    width: 33.33%;
    padding-left: 40px;
    margin-bottom: 20px;
}

.products-item{
    margin-bottom: 0;
}

.products-item-image-link{
    display: block;
    text-align: center;
}

.products-item-desc-text{
    line-height: 1.2em;
    font-size: 0.91em;
}

.compare-wrap{
    padding: 0 0 10px 0;
}

.products-item-title {
    padding: 10px 0;
}

.products-item .buy-zone{
    padding: 10px 0;
}

.products-item-more-link{
    padding-top: 16px;
}

.buy-zone-buttons input.buy_button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.grid .products-item-desc-text{
    display: none;
}

.list .products-item-outer{
    width: 100%;
}

.list .products-info-zone{
    width: 80%;
    float: left;
    padding-right: 15px;
    border-right: 1px solid #E2E2E2;
}

.list .products-item-image-link img{
    float: left;
}

.list .buy-zone{
    float: right;
    width: 20%;
     padding-left: 15px;
}

.products img{
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.grid img, .list img{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.list-grid a{
    background: none repeat scroll 0 0 #282727;
    border: 1px solid #E39D9D;
    color: #FFF1F1;
    display: inline-block;
    font-size: 1.2em;
    padding:  6px 6px 5px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.list-grid a:hover{
    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;
}

.list-grid a.active{
     background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #D6C2C2;
    color: #333;
    display: inline-block;
    cursor: default;
}

.list-grid a.active:hover{
-webkit-box-shadow: 0 0 0 #fff;
-moz-box-shadow: 0 0 0 #fff;
box-shadow: 0 0 0 #fff;
}

/*THE END category page*/


/*cart page*/

.cart-items-count-note{
    padding-bottom: 10px;
}

.cart-item-desc-text{
    font-style: italic;
    padding: 10px;
}

.cart-item-price{
    padding: 10px;
}

.cart-item-price .old-price, .cart-item-price .new-price {
    font-size: 0.75em;
    font-weight: bold;
    font-style: normal;
    color: #000;
}

.cart-item-quantity{
    overflow: hidden;
}

.cart-item-quantity strong,
.cart-item-quantity .arrows
{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    float:none;
}

.cart-item-quantity .quantity{
    text-align: center;
}

.cart-item-remove{
    font-size: 1.13em;
}

.cart-item-quantity .arrows{
    border: 1px solid #C9C8C8;
}

.cart-total-wrap{
    font-size: 0.94em;
    color: #000;
    font-weight: bold;
}



/*THE END cart page*/


/*THE END theme styles*/
